@charset "utf-8";
.img01 {
    background: url("/css/i/bgimg-01.png");
}

.img02 {
    background: url("/css/i/bgimg-02.png");
}

.sprite01{
	background: url("/css/i/bgimg-01.png?__sprite");
}

.sprite02{
	background: url("/css/i/bgimg-02.png?__sprite");
}